  <ion-content overflow-scroll="true" padding="true">
    <div class="row row-imc">
      <div class="col col-80 col-offset-10 col-imc">
      <div class="flex-wrapper">
      <div class="flex2-wrapper">
    <h1>Cálculo</h1>
    <p>Preencha os campos abaixo para calcular seu IMC</p>
    <form class="list" ng-submit="calcular(dados)">
      <label class="item item-input item-stacked-label" name="peso">
        <span class="input-label">Peso</span>
        <input type="number" step="0.01" min="0" placeholder="Peso em kg" ng-model="dados.peso">
      </label>
      <label class="item item-input item-stacked-label" name="altura">
        <span class="input-label">Altura</span>
        <input type="number" step="0.01" min="0" placeholder="Altura em metros" ng-model="dados.altura">
      </label>
      <button class="button button-block button-positive" type="submit">Calcular</button>
    </form></div></div></div>
    </div>
  </ion-content>
