<ion-view align-title="center" title="Resultado" class="bar-positive" >
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <h1>Resultado</h1>
    <div class="list list-inset">
      <div class="item bg-opc"><b>IMC: </b>{{ imc | number:2 }}</div>
      <div class="item bg-opc"><b>Faixa: </b> {{ faixa }}</div>
    </div>
    <h2>Tabela de IMC</h1>
    <div ng-include="'templates/tabelaimc.html'"></div>
    <button ui-sref="calculo" ui-sref-opts="{reload: true, notify: true}" class="button button-block button-positive" type="button">Voltar</button>
  </ion-content>
</ion-view>