h1 {
  font-size: 30px;
  color: #fff;
}

h2 {
  font-size: 24px;
  	color: #fff;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

table > tbody > tr > td {
  color: #fff;
  padding: 8px;
  line-height: 1.4;
  vertical-align: top;
  //border-top: 1px solid #ddd;
}

table > tbody > tr {
    background-color: rgba(147, 147, 147, 0.5);

}

table > tbody > tr:nth-of-type(odd) {
  background-color:rgba(211, 211, 211, 0.5);
}

.img-blur {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: hidden;
}
.img-blur img {
	height: 100%;
}
.view-container {
	z-index: 2;
}

.bg-opc{
	background-color: rgba(147, 147, 147, 0.5);
	color: #fff;
	border-color: transparent !important;
}

.pane {
	background-color: transparent;
}
.col-imc .flex-wrapper {
	display: flex;
	height: 100%;
	align-items: center;
}
.row-imc{
    height: 100%;
}
.flex2-wrapper {
	background: rgba(255,255,255,.3);
	border-radius: 25px;
	padding: 20px;
}
.flex2-wrapper h1 {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.flex2-wrapper p{
	text-align: center;
	color: #fff;
}
.flex2-wrapper .item {
	border: 0 !important;
	text-align: center;
}
.flex2-wrapper .item .input-label {
	color: white;
}
.flex2-wrapper .item-input {

    padding-left: 0;
}
.flex2-wrapper input {
	border-radius: 10px;
	padding-left: 10px;
	text-align: center;
	background: rgba(255,255,255,.8);
}
.button.button-block.button-positive {
	border-radius: 10px;
	background-color: rgba(255,255,255,.2);
	color: #fff;
	transition: background-color 0.2s;
	border: 1px solid rgba(255,255,255,.4);
}

.button.button-block.button-positive:active,
.button.button-block.button-positive:hover,
.button.button-block.button-positive.activated {
	border-radius: 10px;
	background-color: rgba(255,255,255,.1);
	color: #fff;
	border: none;
}